---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
hide_title: true
---

{% include base_path %}

<h2>Selected Publications</h2>

{% for post in site.publications reversed %}
  <div class="publication-list__item">
    <p>
      {{ post.citation }} (UTD24, FT50)<br />
      {% if post.paperurl %}<a href="{{ post.paperurl }}">View Paper</a>{% endif %}
    </p>
  </div>
{% endfor %}

<h2>Working Papers</h2>

<div class="publication-list__item">
  <p>Wangsheng Zhu, Jiahui Mo, Syam Menon, and Sumit Sarkar. “A Recommendation Framework for Crowdsourcing Contest Design.”</p>
</div>

<div class="publication-list__item">
  <p>Yuying Wang, Jiahui Mo, Le Wang, and Jianqing Chen. “Follow the Standard or Name Its Own Prize? An Empirical Study of Prize Strategies and Contest Success in Crowdsourcing.”</p>
</div>
